<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Equipe Développeurs</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../../static/img/favicon.png" rel="icon">
  <link href="../../static/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Poppins:300,400,500,700" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../../static/vendor/aos/aos.css" rel="stylesheet">
  <link href="../../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../../static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../../static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../../static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../../static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../../static/css/style.css" rel="stylesheet">

  <style>
    .row{
      display:flex;
      justify-content: space-around;
    }
  </style>
</head>

<body>

  <!-- ======= Header ======= -->
  

  <main id="main">

    <!-- ======= Breadcrumbs Section ======= -->
   

    <section id="team">
      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h3 class="section-title">Notre Equipe</h3>
          <p class="section-description">Contactez Nous Pour S'Informer sur Nos Services</p>
        </div>
        <div class="row">
          

          <div class="col-lg-3 col-md-6">
            <div class="member" data-aos="fade-up" data-aos-delay="600">
              <div class="pic"><img src="../../static/img/credit/lyna.jpeg" alt=""></div>
              <h4>Abdelfettah Lyna</h4>
              <span>Développeur Back End - Team Coordinator</span>
              
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
              <div class="member" data-aos="fade-up" data-aos-delay="100">
                <div class="pic"><img src="../../static/img/credit/nassim.png" alt=""></div>
                <h4>Benslimane Nassim</h4>
                <span>Project Manager - Développeur Full Stack</span>
                <div class="social">
                  <a href="https://mail.google.com/mail/?view=cm&fs=1&to=nassimbenslimane123@gmail.com&su=Appel+d'offre" target="_blank"><i class="bi bi-google"></i></a>
                  <a href="tel:+213552796623"><i class="bi bi-telephone"></i></a>
                  <a href="https://www.instagram.com/_nassim_bns_/" target="_blank"><i class="bi bi-instagram"></i></a>
                  <a href="https://www.linkedin.com/in/nassim-benslimane/" target="_blank"><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>

          <div class="col-lg-3 col-md-6">
            <div class="member" data-aos="fade-up" data-aos-delay="600">
              <div class="pic"><img src="../../static/img/credit/islam.jpeg" alt=""></div>
              <h4>Mansouri Islam</h4>
              <span>Developpeur Front End</span>
              
              
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-6">
            <div class="member" data-aos="fade-up" data-aos-delay="600">
              <div class="pic"><img src="../../static/img/credit/maroua.png" alt=""></div>
              <h4>Rezig Meroua</h4>
              <span>Développeur Front End</span>
              
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="member" data-aos="fade-up" data-aos-delay="600">
              <div class="pic"><img src="../../static/img/credit/mehdi.png" alt=""></div>
              <h4>Bellahcene Mehdi Redha</h4>
              <span>Designer - Spokesperson - Assistant Front end</span>
              
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="member" data-aos="fade-up" data-aos-delay="600">
              <div class="pic"><img src="../../static/img/credit/ferroudja.png" alt=""></div>
              <h4>Hamrani Ferroudja</h4>
              <span>Développeur Back End - Responsable Administratif</span>
              
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Team Section -->

  </main><!-- End #main -->



  <!-- Vendor JS Files -->
  <script src="../../static/vendor/purecounter/purecounter.js"></script>
  <script src="../../static/vendor/aos/aos.js"></script>
  <script src="../../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../../static/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../../static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../../static/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="../../static/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="../../static/js/main.js"></script>

</body>

</html>
