<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Talent Details - ESMB</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- logos -->
  <link href="../../../static/img/logo.png" rel="icon">
  <link href="../../../static/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Poppins:300,400,500,700" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../../../static/vendor/aos/aos.css" rel="stylesheet">
  <link href="../../../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../../../static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../../../static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../../../static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../../../static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../../../static/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Regna - v4.7.0
  * Template URL: https://bootstrapmade.com/regna-bootstrap-onepage-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center ">
      <div class="container d-flex justify-content-between align-items-center">
  
        <div id="logo">
          <!--<a href="index.html"><img src="../../static/img/logo.png" alt=""></a>-->
          <!-- Uncomment below if you prefer to use a text logo -->
          <h1><a href="{% url 'index'%}">ESM Bejaia Talent</a></h1>
        </div>
  
            <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto" href="{% url 'index'%}">Accueil</a></li>
          <li><a class="nav-link scrollto" href="{% url 'club'%}">Le Club</a></li>
          <li><a class="nav-link scrollto" href="{% url 'galerie'%}">Galerie</a></li>
          <li><a class="nav-link scrollto" href="{% url 'news'%}">Actualités</a></li>
          <li><a class="nav-link scrollto active" href="{% url 'talents'%}">Nos Talents</a></li>
          
          <li><a class="nav-link scrollto" href="{% url 'index'%}#contact">Contact</a></li>
          
          <li><a class="nav-link scrollto" href="{% url 'inscription'%}">Inscription</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
  
      </div>
    </header><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>{{talent_category}} Details</h2>
          <ol>
            <li><a href="{% url 'index'%}">Accueil</a></li>
            <li><a href="{% url 'talents'%}">Talents</a></li>
            <li>{{talent}}</li>
          </ol>
        </div>

      </div>
    </section><!-- Breadcrumbs Section -->

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container">

        <div class="row gy-4">
          {% if talent.image %}
          <div class="col-lg-8">
            <div class="portfolio-details-slider swiper">
              <div class="swiper-wrapper align-items-center">

                <div class="" style="width: 700px;height:700px">
                  <img src="{{talent.image.url}}" alt="">
                </div>

                

              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>{% endif %}

          <div class="col-lg-4">
            <div class="portfolio-info">
              <h3>{{talent_category}} Information</h3>
              <ul>
                <li><strong>Nom</strong>: {{talent.name}}</li>
                <li><strong>Prénom</strong>: {{talent.first_name}}</li>
                <li><strong>Email</strong>: {{talent.email}}</li>
                <li><strong>Date de naissance</strong>: {{talent.date_naissance}}</li>
                {% if talent_category == "Athlete" %}<li><strong>Groupe</strong>: <a href="../groupes/{{talent.groupe.id}}">{{talent.groupe}}</a></li>{% endif %}
                {% if talent_category == "Coach" %}<li><strong>Groupes</strong>: {% for group in groups %}<a href="../groupes/{{group.id}}">{{group}}</a> {% endfor %}</li>{% endif %}
              </ul>
            </div>
            {% if talent.description %}<div class="portfolio-description">
              <h2>Description {% if talent_category == "Coach" %}Du Coach{% else %}De l'Athlète{% endif %}</h2>
              <p>
                {{talent.description|linebreaks}}
              </p>
            </div>{% endif %}
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Details Section -->

  </main><!-- End #main --><br><br>

  <!-- ======= Footer ======= -->
  <footer id="footer">
      <div class="footer-top">
        <div class="container">
  
        </div>
      </div>
  
      <div class="container">
        <div class="copyright">
          &copy; Copyright <strong>Esmb</strong>. All Rights Reserved
        </div>
        <div class="credits">
       
          Conception & Réalisation : <a href="{% url 'credit'%}">Développeurs</a>
        </div>
      </div>
    </footer><!-- #footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="../../../static/vendor/purecounter/purecounter.js"></script>
  <script src="../../../static/vendor/aos/aos.js"></script>
  <script src="../../../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../../../static/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../../../static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../../../static/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="../../../static/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="../../../static/js/main.js"></script>

</body>

</html>