<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>ESM Bejaia Talents</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../../static/img/favicon.png" rel="icon">
  <link href="../../static/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Poppins:300,400,500,700" rel="stylesheet">
  <!--Nassim Fonts-->

  <!-- Vendor CSS Files -->
  <link href="../../static/vendor/aos/aos.css" rel="stylesheet">
  <link href="../../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../../static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../../static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../../static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../../static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../../static/css/style.css" rel="stylesheet">

  <style>
    #contact{
      padding:0;
    }
    
  </style>
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center ">
        <div class="container d-flex justify-content-between align-items-center">
    
          <div id="logo">
            <!--<a href="{% url 'index'%}"><img style="height: 70px" src="../../static/img/logo.jpg" alt=""></a>-->
            <!-- Uncomment below if you prefer to use a text logo -->
            <h1><a href="{% url 'index'%}">ESM Bejaia</a></h1>
          </div>
    
              <nav id="navbar" class="navbar">
          <ul>
            <li><a class="nav-link scrollto" href="{% url 'index'%}">Accueil</a></li>
            <li><a class="nav-link scrollto" href="{% url 'club'%}">Le Club</a></li>
            <li><a class="nav-link scrollto" href="{% url 'galerie'%}">Galerie</a></li>
            <li><a class="nav-link scrollto" href="{% url 'news'%}">Actualités</a></li>
            <li><a class="nav-link scrollto active" href="{% url 'talents'%}">Nos Talents</a></li>
            
            <li><a class="nav-link scrollto" href="{% url 'index'%}#contact">Contact</a></li>
            
            <li><a class="nav-link scrollto" href="{% url 'inscription'%}">Inscription</a></li>
          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->
    
        </div>
      </header><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>ESMB TALENTS</h2>
          <ol>
            <li><a href="{% url 'index'%}">Accueil</a></li>
            <li><a href="{% url 'talents'%}">Talents</a></li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs Section -->
    <section class="contact" style="background-color:white">
        <div class="container mt-5">
        <div class="row justify-content-center">    
        <div class="col-lg-5 col-md-8">
            <div class="form">
              <form action="{% url 'talents'%}" method="POST" role="form" class="php-email-form">
                  {% csrf_token %}
                <div class="form-group">
                  <input type="text" name="search" class="form-control" id="search" placeholder="Recherchez un Groupe, Athlète ou Coach..." required>
                </div>
                
                <div class="my-3">
                  <div class="loading" id="loading">Chargement</div>
                  <div class="error-message"></div>
                  <div class="sent-message">Recherche effectuée</div>
                </div>
                <div class="text-center"><button type="submit">Recherche</button></div>
              </form>
            </div>
          </div>
    </section>
    {% if coachs %}
    <section id="team">
        <div class="container" data-aos="fade-up">
          <div class="section-header">
            <h3 class="section-title">Nos Coachs</h3>
            <!--<p class="section-description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>-->
          </div>
          <div class="row">
            {% for coach in coachs %}  
            <div class="col-lg-3 col-md-6">
              <div class="member" data-aos="fade-up" data-aos-delay="100">
                <div class="pic"><a href="coachs/{{coach.id}}" style="color:inherit"><img src="{% if coach.image %}{{coach.image.url}}{% else %}../../../../static/img/profilephoto/profile-pic.jpeg{% endif %}" alt=""></div></a>
                <h4><a href="coachs/{{coach.id}}" style="color:inherit">{{coach.name}}</a></h4>
                <span>{{coach.description}}</span>
                
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </section><!-- End Team Section -->
      {% endif %}
      {% if athletes %}
      <section id="team">
            <div class="container" data-aos="fade-up">
              <div class="section-header">
                <h3 class="section-title">Nos Athletes</h3>
                <!--<p class="section-description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>-->
              </div>
              <div class="row">
                {% if athletes %}
                {% for athlete in athletes %}  
                <div class="col-lg-3 col-md-6">
                  <div class="member" data-aos="fade-up" data-aos-delay="100">
                    <div class="pic"><a href="athletes/{{athlete.id}}" style="color:inherit"><img style="width:100%" src="{% if athlete.image %}{{athlete.image.url}}{% else %}../../../../static/img/profilephoto/profile-pic.jpeg{% endif %}" alt=""></a></div>
                    <h4><a href="athletes/{{athlete.id}}" style="color:inherit">{{athlete.name}}</a></h4>
                    <span>{{athlete.description}}</span>
                    
                    <span>Groupe : <a href="">{{athlete.groupe}}</a></span>
                    
                  </div>
                </div>
                {% endfor %}
                {% else %}
                <div style="width:100%;text-align : center">
                  <h3>Aucun athlète ne souhaite être promu dans le site actuellement...</h3>
                </div>
                {% endif %}
              </div>
            </div>
          </section><!-- End Team Section -->
          {% endif %}


          {% if groupes %}
      <section id="team">
            <div class="container" data-aos="fade-up">
              <div class="section-header">
                <h3 class="section-title">Les Groupes</h3>
                <!--<p class="section-description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>-->
              </div>
              <div class="row">
                
                {% for groupe in groupes %}  
                <div class="col-lg-3 col-md-6">
                  <h4><li><a href="groupes/{{groupe.id}}">{{groupe}}</a></li></h4>
                </div>
                {% endfor %}
                
              </div>
            </div>
          </section><!-- End Team Section -->
          {% endif %}

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
    <footer id="footer">
    <div class="footer-top">
      <div class="container">

      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>Esmb</strong>. All Rights Reserved
      </div>
      <div class="credits">
       
        Conception & Réalisation : <a href="{% url 'credit'%}">Développeurs</a>
      </div>
    </div>
  </footer><!-- #footer -->


  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="../../static/vendor/purecounter/purecounter.js"></script>
  <script src="../../static/vendor/aos/aos.js"></script>
  <script src="../../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../../static/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../../static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../../static/vendor/swiper/swiper-bundle.min.js"></script>
  <!--<script src="../../static/vendor/php-email-form/validate.js"></script>-->

  <!-- Template Main JS File -->
  <script src="../../static/js/main.js"></script>

</body>

</html>
